# Ignore virtual environment
venv/

# Ignore node_modules directory
node_modules/


# Ignore Django static files
staticfiles/

# Ignore Django media files
media/

# Ignore IDE files
.vscode/
.idea/

# Ignore database files
db.sqlite3

# Ignore environment variables file
.env

# Ignore logs
logs/

# Ignore cache files
__pycache__/


